.eunit
settings.json
deps
*.o
*.beam
*.erlx
*.plt
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar
*.class
test
javaconfig.json
com
npm-debug.log
launch.json
dump.rdb
appendonly.aof
.DS_Store