*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

a,
a:hover,
a:before,
a:after{
    text-decoration: none;
    color: gray;
}

.index-nav {
    float:right;
}

.index-btn-group {
    margin-top:30px;
    align-items: center;
}

.navbar-nav {
    margin-left:400px;
}

.index-btn-group > button {
    vertical-align: middle;
    margin-left: 60px;
    padding: 0 20px 2px 20px;
    font-size:20px;
}

.index-btn-group .btn-lg {
    padding: 0 50px 2px 50px;
    height: 40px;
}

.index-btn-group .btn-outline-info {
    height:30px;
}

.index-table {
    width:90%;
    margin-left: 5%;
}