*,
*:after,
*:::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

a,
a:hover,
a::before,
a:after{
    text-decoration: none;
    color: gray;
}

body {
    padding-bottom: 50px;
}

footer {
    height: 50px;
    bottom: 0px;
    position: fixed;
    left: 40%;
}

footer > p {
    text-align: center;
}

.navbar-default {
    background-color: transparent;
    border-bottom: 2px solid transparent;
}

.index-nav {
    float:right;
}

.index-btn-group {
    margin-top:30px;
    align-items: center;
}

.navbar-left >li>a {
    position: block;
    height: 40px;
    padding: 8px 12px;
    margin: 10px 6px;
    font-size: 1.5em;
    background-color: transparent !important;
    
}



.glyphicon-search{
    color: #82CEF2;
}

.active a {
    border-bottom: 2px solid #82CEF2;
}

.index-btn-group > button {
    vertical-align: middle;
    margin-left: 60px;
    padding: 0 20px 2px 20px;
    font-size:20px;
}

.index-btn-group .btn-lg {
    padding: 0 50px 2px 50px;
    height: 40px;
}

.index-btn-group .btn-outline-info {
    height:30px;
}

.index-table {
    width:90%;
    margin-left: 5%;
}

.table {
    width:90% !important;
}

.index-search input {
    outline: none;
    border:  none;
    padding: 11px 42px 0 15px;
    box-shadow: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: 1s cubic-bezier(0, 0.8, 0, 1);
    top: 0;
    right: 0;
    z-index: 2;
}

.index-search input:focus {
    border: none;
    box-shadow: none;
    width: 300px;
    z-index: 1;
    border-bottom: 2px solid #82CEF2;
    border-radius: none;
}

.index-search button {
    height: 33px;
    width: 40px;
    align: center;
    background: transparent;
    margin-left: 5px;
    margin-top:10px;
    border: none;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: background 0.4s;
}

.navbar-right >li>a {
    height: 33px;
    width: 40px;
    border: none;
    padding: 0;
    cursor: pointer;
    margin:25px 3px 0 6px;
    font-size: 1.2em;
    font-family: "Helbetica Neue", Helvetica, Arial, sans-serif;
}
#register > *{
    width:450px;
    align:center;
}

#login > * {
    width:450px;
    align:center;
}


.small-form > input {
    width: 350px;
}
#repeat {
    margin-top:50px;
}
#showpassword a:link,
a:hover,
a:visited
{
    text-decoration: none;
}

.user-avatar {
    width:50px;
    height:50px;
    border-radius:50%;
    margin-top: -20px;
}

#user-dropdown a:link,
a:hover,
a:visited {
    box-shadow:none;
    text-decoration: none;
    height:25px;
}


#user-dropdown {
    float:right
}

#user-dropdown >a>span {
    float:right;
}

#user-dropdown >ul {
margin-top:20px;
}

.index-toolbar {
    margin: 5px 20px 10px 0;
    float:left;
}

.index-toolbar > button {
    border:  none;
}

.user-top img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 60px;
    margin-top: 50px;
    margin-bottom: 70px;
}

.user-top p {
    margin-left: 30px;
    font-size: 35px;
}

.user-info {
    margin-top: -10px;
}

.user-info li {
    margin: 0 20px 0 20px;
}


.user-btn {
    margin: 10px 20px 10px 20px;
    font-size: 25px;
    position: relative;
    text-decoration: none;
}

.user-btn:link,.user-btn:visited,.user-btn:focus{
            text-decoration:none;
        }

.user-btn::before{
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px;
            height: 2px;
            width: 100%;
            background: #82CEF2;
            transform: scale(0);
            transition: all 0.3s;
        }
        
.user-btn:hover::before{
            transform: scale(1);
        }


#user-menu {
    position: absolute;
    width: 20%;
}

#user-detail-data {
    position: absolute;
    width:80%;
    margin-left: 20%;
}

.thread-user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    margin-left: 20px;
}

.thread-user-info p {
    margin-left: 80px;
    margin-top: 20px;
    position: fixed;
}

.thread-topic>p {
    margin-top: 100px;
    margin-left: 20px;
    position: relative;
}

.thread-slidebar {
    margin: 0px;
    width: 30px;
    height: 30px;
    position:fixed;
    top:60%;
    right:50px;
}
.thread-slidebar,
.thread-slidebar li {
    list-style: none;
}

.thread-slidebar li {
    margin: 0px;
    width: 30px;
    display: block;
    border: 1px solid #ccc;
    height: 30px;
    padding-top: 2px;
    padding-right:2px; 
    overflow: hidden
}

